---
layout: default
permalink: /blog/
title: Harrison's Blog
---

<div class="poly-bg-top">
    <h2 style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 30px; padding-top: 15px; color: #fff;">Blog</h2>
</div>

<div class="main-container">
  <div class="story-container">
    <div>
      <h2 style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform: uppercase;">Blog</h2>
    </div>
    {% for post in site.posts limit:20 %}
      {% if post.img %}
        <div class="post-img" style="
              background: url({{ post.img }}) no-repeat center center; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;">
        </div>
      {% endif %}
      <div class="story">
        <a href="{{ site.base }}{{ post.url }}"><h2 class="story-title">{{ post.title }}</h2></a>
        <div>
          <b>{{ post.date | date: "%b %-d, %Y" }}</b>
        </div>
        <div style="color: #8e8e8e;">
          {{ post.short_description }}
        </div>
      </div>
    {% endfor %}
  </div>

  {% include sidebar.html %}

  </div>

<div style="clear: both;"></div> 