---
layout: default
title: Harrison Noh
---

<div>
  {% include social.html %}
</div>

<div id="index-container">
  <div class="shoe-container container">
    <div class="col-md-3">
      <a href="/work/">
        <div id="nike-box" class="box-container" style="margin-left: 20px;">
          <div id="nike-top" class="shoebox top">
            <figure class="box-left"></figure>
            <figure class="box-right">
            </figure>
          </div>
          <div id="nike-bottom" class="shoebox bottom">
              <figure class="box-left">
                <div class="shadow"></div>
              </figure>
              <figure class="box-right">
                <div class="shadow"></div>
                <img src="img/nike.png" height=80% style="margin-left: 15px; margin-top: 5px;">
              </figure>
          </div>
          <div class="shoebox-section-name">Work</div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="/projects/">
        <div id="adidas-box" class="box-container" style="margin-left: 20px;">
          <div id="adidas-top" class="shoebox top">
            <figure class="box-left"></figure>
            <figure class="box-right">
              <img src="img/adidas.png" height=100% style="margin-left: 30px;">
            </figure>
          </div>
          <div id="adidas-bottom" class="shoebox bottom">
              <figure class="box-left">
                <div class="shadow"></div>
              </figure>
              <figure class="box-right">
                <div class="shadow"></div>
                <img src="img/adidas.png" height=100% style="margin-left: 20px;">
              </figure>
          </div>
          <div class="shoebox-section-name">Projects</div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a target="_blank" href="https://nohharri.myportfolio.com/">
        <div id="jordan-box" class="box-container" style="margin-left: 20px;">
          <div id="jordan-top" class="shoebox top">
            <figure class="box-left"></figure>
            <figure class="box-right">
            </figure>
          </div>
          <div id="jordan-bottom" class="shoebox bottom">
              <figure class="box-left" style="overflow: hidden;">
                <div class="shadow"></div>
                <img src="img/jordan.png" width="100%">
              </figure>
              <figure class="box-right" style="overflow: hidden;">
                <div class="shadow"></div>
                <img src="img/jordan.png" width=100%>
              </figure>
          </div>
          <div class="shoebox-section-name">Gallery</div>
        </div>
      </a>
    </div>
  </div>

  <div style="clear:both"></div>

  <hr>
  <div id="side-title" class="side-title"></div>
  <div style="clear:both;"></div>
  <hr style="margin-top: 25px;">

  <div class="content-container container">
    <div class="featured section">
      <div class="section-content">
        <h1>Featured</h1>
        {% include posts.html category="featured" %}
      </div>
    </div>
    <div class="recent section">
      <div class="section-content">
        <h1>Recent</h1>
        {% include posts.html category="recent" %}
      </div>
    </div>
  </div>
</div>

<script src="script/index.js"></script>