---
layout: default
permalink: /work/
---

<div style="height: 50px;"></div>

<div class="main-container">
  <div class="story-container">
    <div>
      <h2 style="margin-left: 10px;">Blog</h2>
    </div>
    {% for post in site.posts limit:20 %}
      {% if post.img %}
        <div class="post-img" style="
              background: url({{ post.img }}) no-repeat center center; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;">
        </div>
      {% endif %}
      <div class="story">
        <a href="{{ post.url }}"><h2 class="story-title">{{ post.title }}</h2></a>
        <div>
          <b>{{ post.date | date: "%b %-d, %Y" }}</b>
        </div>
        <div style="color: #8e8e8e;">
          {{ post.short_description }}
        </div>
      </div>
    {% endfor %}
  </div>

  {% include sidebar.html %}

</div>