body {
	font-family: 'Montserrat', sans-serif;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.section {
	width: 100%;
}

.dark {
	background-color: #f2f2f2;
}

.dark hr {
	border-top: 1px solid #d6d6d6;
}

.content {
	max-width: 800px;
}

.heading {
	text-align: center;
}

.img-circle {
	border-radius: 50%;
	width: 100%;
	border: 1px solid #bababa;
}

.content-padded {
	margin-top: 40px;
}

.bio {
	margin-top: 15px;
	text-align: center;
}

.paragraph {
	color: #6d6d6d;
}

.quote {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px;
	font-style: italic;
}

#navbar {
	width: 180px;
	height: 100%;
	background-color: #f2f2f2;
	position: fixed;
	z-index: 1;
}

#main {
	width: calc(100% - 180px);
	float: right;
}