
    <div class="categories-container">
      <h2>Tags</h2>

      <div id="categories-padding"></div>

      <div class="category">
        <div class="category-container">
          <a href="/blog/"><div class="category-part">blog</div></a>
          <a href="/work/"><div class="category-part">work</div></a>
          <a href="/code/"><div class="category-part">code</div></a>
          <a href="/design/"><div class="category-part">design</div></a>
          <a href="/reviews/"><div class="category-part">reviews</div></a>
          <a href="/tutorials/"><div class="category-part">tutorials</div></a>
        </div>
      </div>
      <div class="social-media-icons">
        <a href='https://www.facebook.com/harrison.noh' target='_blank'><img src="/assets/icons/Facebook.svg"></a>
        <a href='https://github.com/nohharri' target='_blank'><img src="/assets/icons/Github.svg"></a>
        <a href='https://www.instagram.com/humansof727/' target='_blank'><img src="/assets/icons/Instagram.svg"></a>
        <a href='https://www.linkedin.com/in/harrison-noh-8356a68a' target='_blank'><img src="/assets/icons/LinkedIN.svg"></a>
        <a href='https://twitter.com/Harrison_Noh' target='_blank'><img src="/assets/icons/Twitter.svg"></a>
        <a href='https://plus.google.com/u/1/109584067940599018662/' target='_blank'><img src="/assets/icons/Google +.svg"></a>
      </div>
      <div class="other-websites">
        <h2>Other Websites</h2>
       
        <a href='http://www.jkotzian.com' target='_blank'>
          <div class="other-website">
              <div class="other-website-title">James Kotzian</div>
              <div id="james"><img src="/assets/img/james.png" width="110px"></div>
          </div>
        </a>
      </div>
    </div>

<div style="clear: both;"></div> 