<div class="social-media-icons">
        <a href='https://www.facebook.com/harrison.noh' target='_blank'><img src="{{ site.base }}/assets/icons/Facebook.svg"></a>
        <a href='https://github.com/nohharri' target='_blank'><img src="{{ site.base }}/assets/icons/Github.svg"></a>
        <a href='https://www.instagram.com/harrisoncapturinglife/' target='_blank'><img src="{{ site.base }}/assets/icons/Instagram.svg"></a>
        <a href='https://www.linkedin.com/in/harrison-noh-8356a68a' target='_blank'><img src="{{ site.base }}/assets/icons/LinkedIN.svg"></a>
        <a href='https://twitter.com/Harrison_Noh' target='_blank'><img src="{{ site.base }}/assets/icons/Twitter.svg"></a>
        <a href='https://www.behance.net/nohharri' target='_blank'><img src="{{ site.base }}/assets/icons/behance.png" width="60px"></a>
</div>