/**
 * Splash page 
 */

.site-title {
	text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: $francois-font;
    @include center-block-horizontal();
}

.main-container {
	width: 400px;
	margin: 0 auto;
}

.category {
	text-align: center;
}

/**
 * Responsive
 */
.row {
	width: 100%;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.md-1-4 {
	width: 25%;
	float: left;
}
