---
layout: default
permalink: /post/ 
---


<div class='container middle-container'>
	<h1 style="text-align: center;">{{ page.title }}</h1>
	<hr>
	<p class="post-meta">
		<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
		</time>
		{% if page.author %} • 
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				<span itemprop="name">{{ page.author }}</span>
			</span>
		{% endif %}
	</p>

	{{ content }}

	<hr>
	<div class="post-tools">
    {% for tool in page.tools %}
      <a href="/tags/{{ tool }}/">
        <span class="tool {{ tool }}">{{ tool }}</span>
      </a>
    {% endfor %}
  	</div>

</div>